BEGIN:VCALENDAR
VERSION:2.0
X-WR-CALNAME:{{.Name}}
X-APPLE-CALENDAR-COLOR:{{.Color}}
{{range .Holidays}}
BEGIN:VEVENT
SUMMARY:{{.Name}}
DTSTAMP:{{.DTStamp}}
DTSTART;VALUE=DATE:{{.StartDate}}
DTEND;VALUE=DATE:{{.EndDate}}
END:VEVENT
{{end}}
END:VCALENDAR
